body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color: #66BFBF;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  /*line-height: 2;*/
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: #66BFBF;
  width: 5%;

}
.profile-pic{
  margin-top: 50px;
}
.top-container{
  background-color: #E4F9F5;
  position:relative;
  padding-top: 100px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.upper-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.footer-link{
  color: white;
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    margin: 30px;
}
.btn{
  display: inline-block;
  margin: 40px auto 40px auto;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.coding{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.cricket{
  width: 25%;
  float: right;
  margin-right: 30px;
}
.profile{
  text-align: center;
  width: 40%;
  margin: auto auto 100px auto;
  line-height: 2;
}

.onlyForThis{
  margin-top: 100px;
}
.contact-me{
  text-align: center;
  width: 50%;
  margin: auto;
  line-height: 2;
}

.bottom-container{
  background-color: #66BFBF;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 2;
}



/*.line-height{
  line-height: 2;
}*/

/*.middle-container{
  height: 200px;
  width: 200px;
  background-color: red;
}
.bottom-container{
  height: 200px;
  width: 200px;
  background-color: blue;
}*/
/*
.ambition{
  color: blue;
}*/

/*.h1{
  display: inline-block;
  position: relative;
  top: 58px;
  right: 60px;
}

.h2{
  display: inline-block;
  position: relative;
  top: auto;
  left: 30px;
}*/
